<ion-content>
  <ion-card type="button" class="header" mode="ios">
    <ion-card-header>
      <ion-card-title>Resin Timer</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="main-logo" type="button" mode="ios">
    <div class="main-logo-wrapper">
      <img src="assets/genshin_16.png" alt="ekan-logo" width="100%">
    </div>
  </ion-card>
  <ion-card mode="ios">
    <ion-item *ngIf="isContentLoaded" >
      <ion-label position="stacked">How much Resin you have right now?</ion-label>
      <p>{{resin_value}}</p>
      <ion-range (ionChange)="getResinValue($event)" [value]="resin_value" max="160" step="1" snaps="true" ticks="false" color="secondary">
        <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
        <ion-icon slot="end" name="add-circle-outline"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Resin fully replenished at:</ion-label>
      <ion-input [value]="resin_time_left" readonly="true"></ion-input>
    </ion-item>
  </ion-card>
  <ion-button style="margin-top: 1rem;" (click)="schedule()" expand="block">set timer</ion-button>
  <ion-button style="margin-top: 1rem;" (click)="resetResin()" expand="block">clear timer</ion-button>
</ion-content>